@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Foxhole Train Logistics!</h1>
    <img src="./img/trains/trainBlack.png"/>
    <p>The trains WILL run on time.</p>
</div>
