.ftl-button {
    border: none;
    background: none;
}

.ftl-interact:hover {
    filter: brightness(85%);
    background: white;
}

.ftl-interact:active {
    filter: none;
}

.ftl-interact:hover > .ftl-selection-box {
    width: 10px;
    height: 10px;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 0px;
}

@keyframes blink {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
  }

.ftl-interact:focus > .ftl-selection-box {
    width: 10px;
    height: 10px;
    position: absolute;
    border-style: dashed;
    border-width: 0px;
    animation: blink 1s linear infinite;
}


