html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ftl-noselect {
    user-select: none;
    -webkit-user-drag: none;
}

.ftl-icon {
    height: 40px;
    width: auto;
}

.ftl-shippable-icon {
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,1));
}

.ftl-paper {
    box-shadow: 1px 3px 5px 0px rgba(100,100,100,0.5);
    border: 0.1px solid rgba(0,0,0,0.15);
    border-radius: 8px;
    padding: 10px;
}

.ftl-flex-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
}

.ftl-chip {
    box-shadow: 1px 3px 5px 0px rgba(100,100,100,0.5);
    border: 0.1px solid rgba(0,0,0,0.15);
    border-radius: 8px;
    margin: 2px;
    
    height: 25px;
    font-size: 12px;
}



::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color of the track (the area behind the scrollbar) */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the thumb (the draggable element of the scrollbar) */
    border-radius: 5px; /* border radius of the thumb */
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* color of the thumb when hovered over */
    }

@keyframes dropDown {
    0% {
        opacity: 0;
        height: 0px;
    }

    100% {
        opacity: 1;
        height: 350px;
    }
}

