html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ftl-noselect {
    user-select: none;
    -webkit-user-drag: none;
}

.ftl-icon {
    height: 40px;
    width: auto;
}

.ftl-shippable-icon {
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,1));
}

.ftl-paper {
    box-shadow: 1px 3px 5px 0px rgba(100,100,100,0.5);
    border: 0.1px solid rgba(0,0,0,0.15);
    border-radius: 8px;
    padding: 10px;
}

.ftl-button {
    border: none;
    background: none;
}
.ftl-chip {
    box-shadow: 1px 3px 5px 0px rgba(100,100,100,0.5);
    border: 0.1px solid rgba(0,0,0,0.15);
    border-radius: 8px;
    margin: 2px;
    
    height: 25px;
    font-size: 12px;
}

.ftl-interact:hover {
    filter: brightness(85%);
    background: #FFFFFF;
}

.ftl-interact:active {
    filter: none;
}

@media (prefers-reduced-motion: no-preference) {
    .ftl-anim-slide-down {
        animation: FTL-Anim-Slide-Down infinite 2s alternate;
    }
}

@keyframes FTL-Anim-Slide-Down {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(100px);
    }
}

