@{
    var datePickerId = Guid.NewGuid();
}

<head>
    <style>
        .ftl-date-picker {
            user-select: none;
            -webkit-user-drag: none;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
            width: fit-content;
            padding: 2px;
            border-radius: 8px;
            justify-content: center;
            align-items: center;
        }
        .ftl-date-picker .ftl-dp-cell {
            width: 40px;
            height: 40px;
            text-align: center;
            
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ftl-date-picker button {
            border: none;
            background: white;
        }
        .ftl-date-picker button:hover {
            filter: brightness(85%);
        }

        .ftl-date-picker button:active {
            filter: none;
        }
    </style>
    <script>
        const months = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
        ];

        var selectedMonthIndex = 0;

        window.addEventListener("DOMContentLoaded",() => {
            

            const datePickerGrid = document.getElementById("ftl-dp-grid-@datePickerId");
            for(var i = 0; i < 6; i++)
            {
                const weekRow = document.createElement("div");
                weekRow.style.display = "flex";
                datePickerGrid.appendChild(weekRow);

                for(var j = 0; j < 7; j++)
                {
                    const dayCell = document.createElement("button");
                    dayCell.className = "ftl-dp-cell";
                    dayCell.innerHTML = `0${j}`;
                    weekRow.appendChild(dayCell);
                }
            }

            updateCalendar();
        })

        function updateCalendar() {
            document.getElementById("ftl-dp-monthname-@datePickerId").innerHTML = months[selectedMonthIndex];

            const monthDays = getMonthDays(selectedMonthIndex);
            const monthStartWeekday = getMonthStartWeekday(selectedMonthIndex);
            const lastMonthDays = getMonthDays(selectedMonthIndex == 0 ? 11 : selectedMonthIndex - 1);
            const nextMonthDays = getMonthDays(selectedMonthIndex == 11 ? 0 : selectedMonthIndex + 1);

            const datePickerGrid = document.getElementById("ftl-dp-grid-@datePickerId");

            // .. we need to take into account different years as well (explains why January's days are messed up)
            for (var week = 1; week < 7; week++) {
                const weekRow = datePickerGrid.children[week];
                for (var weekday = 0; weekday < 7; weekday++) {
                    const cell = weekRow.children[weekday];
                    const monthDay = ((week - 1) * 7) + weekday + 2 - monthStartWeekday;
                    if (week == 1 && weekday < monthStartWeekday - 1) {
                        cell.innerHTML = lastMonthDays - (monthStartWeekday - weekday - 2);
                        cell.style.fontWeight = "bold";
                    }
                    else if (monthDay < monthDays+1) {
                        cell.innerHTML = monthDay;
                        cell.style.fontWeight = "normal";
                    }
                    else {
                        cell.innerHTML = monthDay-monthDays;
                        cell.style.fontWeight = "bold";
                    }
                }
            }
        }

        function getMonthDays(monthIndex) {
            const now = new Date(Date.now());
            return new Date(now.getFullYear(), monthIndex + 1, 0).getDate();
        }

        function getMonthStartWeekday(monthIndex) {
            const now = new Date(Date.now());
            return new Date(now.getFullYear(), monthIndex, 1).getDay();
        }

        function gotoPrevMonth() {
            if(selectedMonthIndex > 0)
                selectedMonthIndex--;
            else
                selectedMonthIndex = 11;

            updateCalendar();
        }

        function gotoNextMonth() {
            if (selectedMonthIndex < 11)
                selectedMonthIndex++;
            else
                selectedMonthIndex = 0;

            updateCalendar();
        }
    </script>
</head>
<div class="ftl-date-picker">
    <div style="display: flex; justify-content: space-evenly; align-items: center;">
        <button class="ftl-dp-cell" onclick="gotoPrevMonth()"><</button>
        <div style="min-width: 150px; text-align: center"><h4 id="ftl-dp-monthname-@datePickerId"></h4></div>
        <button class="ftl-dp-cell" onclick="gotoNextMonth()">></button>
    </div>
    <div id="ftl-dp-grid-@datePickerId" class="ftl-dp-grid">
        <div style="display: flex; font-weight: bold">
            <div class="ftl-dp-cell">Mo</div>
            <div class="ftl-dp-cell">Tu</div>
            <div class="ftl-dp-cell">We</div>
            <div class="ftl-dp-cell">Th</div>
            <div class="ftl-dp-cell">Fr</div>
            <div class="ftl-dp-cell">Sa</div>
            <div class="ftl-dp-cell">Su</div>
        </div>
    </div>
</div>
