@using FoxholeTrainLogistics.Interfaces;
@using FoxholeTrainLogistics.Services;
@using FoxholeTrainLogistics.ViewModels;
@inject IShippableToolbarService ShippableToolbarService;
@{
    ViewData["Title"] = "Shipment Calculator";
}

@{
    await Html.RenderPartialAsync("_TrainsUtils");
}

<script>
    @{
        var train = new Train()
        {
            TrainId = Guid.NewGuid(),
            Cars = new List<ITrainCar>() {
            TrainCarFactory.CreateTrainCar(TrainCarType.EngineCar),
            TrainCarFactory.CreateTrainCar(TrainCarType.CoalCar)
        },
                Status = TrainStatus.Parked
        };
    }
</script>

<h1>Shipment Calculator</h1>

<div>
    <b>Your Train</b>
    @{await Html.RenderPartialAsync("../Trains/_Train", new TrainViewModel(train,true));}
</div>
<div style="display: flex;">
    <div class="ftl-paper" style="flex: 1; min-height: 500px; margin-top: 5px;">
        @{await Html.RenderPartialAsync("./_ShippableToolbar", new ShippableToolbarViewModel(ShippableToolbarService));}
    </div>
    <div class="ftl-paper" style="flex: 1; min-height: 500px; margin-top: 5px; display: flex; justify-content: center; align-items: center">
        <h3 style="color: black;">No Item Selected</h3>
    </div>
</div>

