@using FoxholeTrainLogistics.Trains;
@{
    ViewData["Title"] = "Shipment Calculator";
}

<!-- Import Train Creation Factory-->
<script src="~/js/trainsFactory.js"/>

<h1>Shipment Calculator</h1>
<div>
    <b>Your Train</b>
    @{
        var train = new Train()
            {
                TrainId = Guid.NewGuid(),
                Cars = new List<TrainCar>() {TrainCar.Engine,TrainCar.CoalCar},
                Status = TrainStatus.Parked
            };
        await Html.RenderPartialAsync("../Trains/_Train", new TrainViewModel(train));
    }
    
    <div style="border: 1px solid black; border-radius: 8px; padding: 5px; height: 50px; width: 500px;">
        <button class="ftl-interact ftl-button" onclick="createTrainCar('train')">
            <img src="./img/trainBlack_side.png" class="ftl-icon" />
        </button>
        <button class="ftl-interact ftl-button">
            <img src="./img/coalCarBlack_side.png" class="ftl-icon" />
        </button>
        <button class="ftl-interact ftl-button">
            <img src="./img/infantryCarBlack_side.png" class="ftl-icon" />
        </button>
        <button class="ftl-interact ftl-button">
            <img src="./img/flatbedCarBlack_side.png" class="ftl-icon" />
        </button>
        <button class="ftl-interact ftl-button">
            <img src="./img/cabooseCarBlack_side.png" class="ftl-icon" />
        </button>
    </div>
</div>

